;;------------------------------ Packages ------------------------------
(require 'package)
;; Add the original Emacs Lisp Package Archive
(add-to-list 'package-archives '("elpa" . "http://tromey.com/elpa/"))
;; Add the user-contributed repository
(add-to-list 'package-archives '("marmalade" . "http://marmalade-repo.org/packages/"))
(add-to-list 'package-archives '("melpa" . "http://melpa.milkbox.net/packages/"))
(package-initialize)

;;load path for extra lisp files
(add-to-list 'load-path "~/.emacs.d/lisp/")
(add-to-list 'load-path "~/package/ebib/")
(add-to-list 'load-path "~/package/hydra/")
(add-to-list 'load-path "~/package/helm/")
(add-to-list 'load-path "~/package/emacs-async/")
(add-to-list 'load-path "~/package/org-ref/")

;; see org-ref for use of these variables
(setq reftex-default-bibliography '("~/do/org/bib/refs.bib"))
(setq org-ref-bibliography-notes "~/do/bib/notes.org"
      org-ref-default-bibliography '("~/do/bib/refs.bib")
      org-ref-pdf-directory "~/do/bib/bibtex-pdfs/")

(require 'org-ref)
;; optional but very useful libraries in org-ref
(require 'doi-utils)
(require 'jmax-bibtex)
(require 'pubmed)
(require 'arxiv)
(require 'sci-id)

;; Theme configuration
(require 'soothe-theme)
(setq term-default-bg-color nil)
(if (display-graphic-p) 
    (progn
      (set-face-attribute 'default nil :font "Inconsolata" :height 135))
  (set-face-attribute 'default nil :height 120)
  )

;;------------------------------ General Settings ------------------------------
;; disable backup
(setq backup-inhibited t)
;; disable toolbar
(tool-bar-mode -1)
;; disable scrollbar
(scroll-bar-mode -0)
;; disable menubar
(menu-bar-mode -1)
(setq-default indent-tabs-mode nil) 
(setq c-default-style "BSD"
          c-basic-offset 4)
(setq-default comment-indent-new-line)
;; brackets
(electric-pair-mode 1)
;; go to last chang
(autoload 'goto-last-change "goto-last-change"
 	  "Set point to the position of the last change." t)
(global-set-key "\C-x\C-\\" 'goto-last-change)

;; break the line on 80 characters
(setq fill-column 80)
(setq text-mode-hook 'turn-on-auto-fill)
(setq default-major-mode 'text-mode)

;; define backtab
(global-set-key (kbd "<backtab>") 'un-indent-by-removing-4-spaces)
(defun un-indent-by-removing-4-spaces ()
  "remove 4 spaces from beginning of of line"
  (interactive)
  (save-excursion
    (save-match-data
      (beginning-of-line)
      ;; get rid of tabs at beginning of line
      (when (looking-at "^\\s-+")
        (untabify (match-beginning 0) (match-end 0)))
      (when (looking-at "^    ")
        (replace-match "")))))

;; full screen
(defun toggle-fullscreen ()
  "Toggle full screen on X11"
  (interactive)
  (when (eq window-system 'x)
    (set-frame-parameter
     nil 'fullscreen
     (when (not (frame-parameter nil 'fullscreen)) 'fullboth))))
(global-set-key [f11] 'toggle-fullscreen)

;; recent file mode
(require 'recentf)
(recentf-mode 1)
(setq recentf-max-menu-items 10)
(global-set-key "\C-x\ \C-r" 'recentf-open-files)

;;------------------------------ AUCTeX Mode ------------------------------
(setq TeX-auto-save t)
(setq TeX-parse-self t)
(setq-default TeX-master nil)
(setq TeX-PDF-mode t)
(add-hook 'TeX-mode-hook
      (lambda () (TeX-fold-mode 1)))
(setq TeX-view-program-selection
      '((output-dvi "DVI Viewer")
        (output-pdf "PDF Viewer")
        (output-html "Google Chrome")))
(setq TeX-view-program-list
      '(("DVI Viewer" "evince %o")
        ("PDF Viewer" "evince %o")
        ("Google Chrome" "google-chrome %o")))
(add-hook 'LaTeX-mode-hook 'turn-on-auto-fill)
(add-hook 'LaTeX-mode-hook (lambda () (abbrev-mode +1)))
(provide 'auctex-config)
(add-hook 'LaTeX-mode-hook 'visual-line-mode)
(add-hook 'LaTeX-mode-hook 'flyspell-mode)
(add-hook 'LaTeX-mode-hook 'LaTeX-math-mode)
(add-hook 'LaTeX-mode-hook 'flyspell-mode) ;start flyspell-mode
(setq ispell-dictionary "american")    ;set the default dictionary
(add-hook 'LaTeX-mode-hook 'ispell) 


;;------------------------------ Org Mode ------------------------------
(require 'org)
(define-key global-map "\C-cl" 'org-store-link)
(define-key global-map "\C-ca" 'org-agenda)
(setq org-log-done t)
(setq org-list-allow-alphabetical t)
(setq org-src-fontify-natively t)
(setq org-agenda-files (file-expand-wildcards "~/repo/org/*.org"))
(setq org-default-notes-file (expand-file-name "~/repo/org/inbox.org"))
(add-hook 'org-mode-hook 'turn-on-org-cdlatex)
(add-hook 'org-mode-hook
          (lambda ()
            (org-indent-mode t)
            (flyspell-mode t)
            )
          t)
(define-key global-map "\C-cc" 'org-capture)

;;------------------------------ Customization ------------------------------
(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(inhibit-startup-screen t)
 '(org-file-apps
   (quote
    ((auto-mode . emacs)
     ("\\.mm\\'" . default)
     ("\\.x?html?\\'" . default)
     ("\\.djvu\\'" . default)
     ("\\.pdf\\'" . default)
     ("\\.djvu::\\([0-9]+\\)\\'" . "evince %s -p %1")
     ("\\.pdf::\\([0-9]+\\)\\'" . "evince %s -p %1")))))
(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )
